version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: bank
      POSTGRES_USER: bankuser
      POSTGRES_PASSWORD: bankpass
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: